@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body{
        @apply bg-[#fafbfd] dark:bg-[#121b14] text-[#121b14] dark:text-white overflow-x-hidden;
    }
}

@layer components {
    .spacing {
        @apply py-32 px-12 md:px-24;
    }

}


.box1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 33.4333vw;
    background-color: black;
    z-index: 10;
}

.box2 {
    position: absolute;
    top: 0;
    left: 33.333%;
    height: 100vh;
    width: 33.4333vw;
    background-color: black;
    z-index: 10;
}

.box3 {
    position: absolute;
    top: 0;
    left: 66.666%;
    height: 100vh;
    width: 33.4333vw;
    background-color: black;
    z-index: 10;
}

.title1 {
    position: absolute;
    width: 250px;
    top: 25%;
    right: 25%;
    font-family: Roboto;
    font-size: 20px;
    color: white;
    writing-mode: vertical-rl;
    z-index: 5;
    text-decoration: none;
}
.title2 {
    position: absolute;
    bottom: 15%;
    right: 50%;
    border-radius: 100px;
    border: 1px solid rgba(255,255,255,0.3);
    z-index: 5;
}

.title2:hover {
    border: 1px solid rgba(255,255,255,0.7);
}




